/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4339db;
  --ifm-color-primary-dark: #3126d2;
  --ifm-color-primary-darker: #2e24c7;
  --ifm-color-primary-darkest: #261ea3;
  --ifm-color-primary-light: #5950df;
  --ifm-color-primary-lighter: #645ce1;
  --ifm-color-primary-lightest: #867fe8;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4339db;
  --ifm-color-primary-dark: #3126d2;
  --ifm-color-primary-darker: #2e24c7;
  --ifm-color-primary-darkest: #261ea3;
  --ifm-color-primary-light: #5950df;
  --ifm-color-primary-lighter: #645ce1;
  --ifm-color-primary-lightest: #867fe8;
}